# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/.nyc_output

# next.js
/.next/
/out/
/.turbo/
/.swc/

# production
/build
/dist

# misc
.DS_Store
*.pem
*.swp
*.swo
*.orig
outside builds/

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editors and tools
.idea/
.vscode/
.fleet/
.history/
*.code-workspace

# linting caches
.eslintcache
.stylelintcache

# local env files
.env
.env.*
!.env.example
.envrc
.direnv/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
